@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Piazzolla:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
@import url('https://rsms.me/inter/inter.css');
/* @import url() */

*{
    margin: 0;
    padding: 0;
}

/* .boxImage {
    background-image: url('../../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.24);
} */

.home {
    margin: 4px 8px;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    color: #444444;
}

.home:active {
    color: #4488FF !important;
}

.home:visited {
    color: #444444;
}

.home:hover {
    color: #44A9FF;
}